* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html {
    overflow-x: hidden;
}


body {
    background-color: rgb(255, 238, 238);
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding:32px 0 0;
    background-color: rgb(37, 37, 222);
}

header h1 {
    font-size:32px;
    padding-bottom:32px;
}

header .container a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 8px;
    font-weight: bold;
}


.sobre-a-loja {
    display: flex;
    justify-content: space-between;
}

.sobre-a-loja img {
    width: 400px;
    padding-top: 55px;
    margin-right: 32px;
}


.conteudo h2 {
    margin: 55px 0;
    color: rgb(37, 37, 222);
    border-bottom: 3px solid rgb(37, 37, 222);
}

button {
    margin: 18px 0;
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.produtos {
    display: flex;
}

.produtos article {
    margin-left: 18px;
    margin-top: 32px;
}

.nome-produto {
    display: block;
}

.nome-produto p {
    margin-top: 8px;
}

@media screen and (max-width: 640px) {
    .sobre-a-loja {
        display: block;
        align-items: center;
    }

    .container {
        text-align: center;
        max-width: 90%;
    }

    .conteudo { 
        display: block;
    }

    .produtos {
        display: block;
    }

    .produtos article {
        margin-left: 0;
        margin-top: 32px;
    }

    .sobre-a-loja img {
        width: 300px;
        margin-right: 0;
    }

    header .container {
        flex-direction: column;
    }

    header .container a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        margin-left:0;
        font-weight: bold;
    }

    button {
        margin: 18px;
        display: block;
        width: 100%;
        padding: 8px;
        border: none;
        background-color: #119759;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;
        border-radius: 6px;
    }
}

@media screen and (min-width: 641px) and (max-width:1023px) {
    .container {
        max-width: 90%;
    }

    .sobre-a-loja {
        display: block;
        align-items: center;
    }

    .produtos {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 3%;
        row-gap: 5%;
    }

    .produtos article {
            margin-left: 0;
            margin-top: 0;
    }
    .button {
        margin: 0 5%;
        width: 100%;
    }

    .conteudo h2 {
        margin-bottom: 32px;
    }
}